<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link ps-0">Elektronik</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Kitap</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Spor</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Giyim</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Market</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Diğer Kategoriler</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="dropdown-item">Kategori 1</a></li>
                        <li><a href="#" class="dropdown-item">Kategori 2</a></li>
                        <li><a href="#" class="dropdown-item">Kategori 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>