<section class="top-bar">
    <div class="container">
        <div class="row gy-2 align-items-center">
            <div class="col-lg-2 col-sm-4 col-4">
                <a href="/" class="navbar-brand"><i class="fa-solid fa-truck-fast"></i> E-Commerce</a>
            </div>

            <div class="col-lg-5 col-sm-8 col-8 order-lg-last">
                <div class="text-end">
                    <a href="#" class="btn btn-light">
                        <i class="fa fa-user"></i> <span class="ms-1 d-none d-sm-inline-block">Hesabım</span>
                    </a>
                    <a href="#" class="btn btn-light">
                        <i class="fa fa-heart"></i> <span class="ms-1 d-none d-sm-inline-block">Listem</span>
                    </a>
                    <a href="shopping-cart.html" class="btn btn-light">
                        <i class="fa fa-shopping-cart"></i> <span class="ms-1 d-none d-sm-inline-block">Sepetim</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-5">
                <form>
                    <div class="input-group">
                        <input type="text" placeholder="Anahtar kelime" class="form-control">
                        <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>